.card h2 {
    text-align: center;
}

.container footer {
    text-align: center;
    vertical-align: middle;
}

.container footer a {
    color: blue;
}

hr {
    border-top: 2px solid darkgray;
}

.container .border {
    border-color: black;
}